body {
  margin:0;
  padding:0;
  font-family:'Titillium Web',sans-serif;
}

main {
  margin:3em;
  overflow:scroll;
}

header {
  text-align: center;
}

table {
  min-width: 100%;
  overflow:scroll;
}
td {
  min-width:10em;
  padding:.5em;
}
thead {
  background: lightslategray;
}
tbody tr:nth-child(odd){
  background:#eee;
}
tbody tr:nth-child(even){
  background:#eee;
}

.spacer {
  min-width:176px;
}

.topic-column {
  background:gainsboro;
  position:absolute;
  opacity: 0.5;
}

.blue0 {
  background:aliceblue;
}
.blue1 {
  background:lightsteelblue;
}
.blue {
  background:cornflowerblue;
}
.yellow {
  background:darkgoldenrod;
}
.red {
  background:crimson;
}
